.single-meal img {
    width: 50%;
}
.single-meal button {
    background: #D70F63;
    border: 0px;
    outline: none;
    padding: 8px 15px;
    transition: all 0.3s ease;
    color: #fff;
}
button.add-meal {
    margin-left: 15px;
}
.single-meal button a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}
.single-meal button:hover {
    background-color: #fff;
    color: #D70F63;
}
.single-meal button:hover a {
    color: #D70F63;
}
.search-container {
    background-color: #D70F63;
    line-height: 50px;
}
.search-container input {
    border: none;
    outline: none;
    width: 45%;
    padding: 8px 0;
    padding-left: 10px;
}